create procedure storeAltaVoucher

@CodigoVoucher varchar,
@IdCliente int,
@FechaCanje date,
@IdArticulo int
as
insert into Vouchers values (@CodigoVoucher,@IdCliente,@FechaCanje,@IdArticulo)
