create procedure storeAltaCliente
@Documento int,
@Nombre varchar(50),
@Apellido varchar(50),
@Email varchar(50),
@Direccion varchar(50),
@Ciudad varchar(50),
@CP int
as
insert into Clientes values (@Documento,@Nombre,@Apellido,@Email,@Direccion,@Ciudad,@CP)