create procedure storeListarVOU as
  select V.CodigoVoucher, V.IdCliente, CONCAT( C.Apellido,', ',c.Nombre) as 'Apellido, Nombre', v.FechaCanje ,V.IdArticulo, A.Nombre
  from Vouchers V, Clientes C, ARTICULOS A
  where v.IdCliente = c.Id and V.IdArticulo = a.Id 